body {
    background-color: rgb(253, 253, 242);
width:80%;
}

input {
    margin: 10px;
 }


form {font-family:Consolas;
    color: rgb(42, 45, 37);
    background-color: rgb(235, 235, 214);

}

p {font-family:Consolas;
    background-color: white;
    color: rgb(28, 31, 23);

}

h1 {font-family:Consolas;
color: rgb(50, 63, 28);
font-size:40px;

}

h2 {font-family:Consolas;
    color: darkolivegreen;

}

h3 {font-family:Consolas;
    color: darkolivegreen;

}